.color{
    padding: 15px;
    margin: 15px;
    border: 2px solid slateblue;
    border-radius: 7px;
}

.PostSajugaju{
    padding: 20px;
    margin: 20px;
    border: 2px solid red;
    border-radius: 7px;
    
}